body {
    background: url('https://t4.ftcdn.net/jpg/02/00/68/69/360_F_200686969_GJ7zbz2qaNIE4dyHSbZkQXvNPzRuwlr3.jpg') no-repeat;
    background-size: cover;
    background-color: rgb(240, 76, 58);
    text-align: center;
}

.heading {
    border: 3px solid black;
    width: 500px;
    height: 100px;
    text-align: center;
    font-size: 60px;
    margin-top: 100px;
    margin-left: 550px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: thistle
}

table,
th,
td {
    border: 5px solid black;
    float: left;
    background-color: rgb(68, 33, 48)
}

input[type=text] {
    width: 350px;
    height: 50px;
    font-size: large;
}

.value {
    background-color: black;
    color: white;
    width: 80px;
    height: 60px;
}

input.value:hover {
    background-color: grey;
}

input[type=button] {
    background-color: black;
    color: white;
    width: 80px;
    height: 60px;
}

table {
    margin-top: 100px;
    margin-bottom: 400px;
    margin-left: 600px;
    margin-right: 400px;
    text-align: center;
}